body {
	font: 13px/23px "Helvetica Neue", sans-serif;
	color: #494949;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
a {
	color: #494949;
}
a:hover {
	background: #494949;
	color: #ffffff;
}
p {
	margin-bottom: 10px;
}
code {
	font-family: 'Courier New', monospace;
	font-size: 9pt;
	color: #000000;
	white-space: pre;
}
input, select, textarea {
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 3px 3px 3px 3px;
}
#wrapper {	
	width: 100%;
	margin: 0 auto;
}
header {
	
}
#left-col {
	position: absolute;
	top: 15px;
	left: 25px;
	width: 200px;
}
.node {
	padding: 10px;
	margin: 0px;
	margin-bottom:15px;
}
#login-box {
	background: #494949;
	min-height: 110px;
}
/* I should use h5 but it derps */
#login-box .title {
	font-size: 14px;
	line-height: 1.8em;
	padding-bottom: 1em;
	color: #ffffff;
	font-weight: 900;
}
#login-box p {
	font-size: 9px;
	margin: 0 0 8px 0;
}
#login-box a {
	color: #959595;
	font-size: 10px;
}
#login-form {
	text-align: left;
}
#login-box, #login-form label {
	color: #ffffff;
}
#login-form label {
	margin-right: 3px;
}
#login-form input {	
	width: 90px;
	margin-right: 8px;
}
#login-form button {	
	font-size: 9px;
}
#login-form div {
	margin-bottom: 5px;
	height: 21px;
	padding-top: 3px;
}
#user-box {
	border: 1px dotted #959595;
	padding: 10px;
	margin-bottom: 15px;
}
#user-box h4 {
	padding-bottom: 3px;
}
#user-box li {
	line-height: 10px;
}
#categories-box {
	background-color: #E9F8FE;
}
#categories-box ul {
	margin: 0px;
	padding: 0px;
}
#categories-box li {
	color: #77777;
	font-size: 10px;
	list-style-type: none;
}
#right-col {
	margin: 25px 0 0 240px;
	padding: 0 25px 50px 0;
}
#main-title, #error-title {
	height: 50px;
	margin-bottom: 15px;
	padding-top: 51px;
}
#main-title {
	display: block;
	border-bottom: 1px dotted #959595;
}
.paginator span:after {
	visibility: hidden;
	content: '.';
}
.paginator a:after {
	visibility: hidden;
	content: '.';
}
.comment {
	margin-bottom: 2px;
	border-bottom: solid 1px #CCCCCC;
	position: relative;
}
.comment-container {
	padding: 0 8px 20px 2px;
}
.comment-user {
	float: left;
	width: 105px;
	margin-top: 5px;
}
.comment-user .username {
	line-height: 16px;
	font-size: 12px;
}
.comment-user .time {
	font-size: 10px;
	color: #888888;
}
.comment-user .user-avatar {
	margin: 6px 0 0 0;
	font-size: 8px;
	padding-left: 20px;
	background-repeat: no-repeat !important;
	background-position: 0 1px !important;
}
.comment-user .user-avatar ul {
	list-style-type: none;
}
.comment-block {
	margin: 5px 0 0 125px;
}
#comment-form {
	float: left;
	margin-bottom: 1em;
}
#comment-form textarea {
	display: block;
	height: 140px;
	width: 100%;
}
#comment-form span.info {
	display: block;
	font-size: 12px;
}
#user {
}
#user #user-info-box {
	float: left;
	width: 220px;
}
#user #user-info-box .box {
	background: #F9F9F9;
	border: 1px solid #CCC;
	margin-bottom: 5px;
}
#user #user-info-box .box h3 {
	border-bottom: 1px dotted #959595;
	margin-top: 0px;
	margin-bottom: 3px;
}
#user #latest-posts {
	width: 80%;
	margin-left: 18em;
}
article, footer, .comments, form, aside {
	padding: 1em 0 .8em;
}
footer {
	text-align: center;
	padding: 30px 0 10px 0;
	font-size: 11px;
	color: #999;
	clear: both;
}
/* Typography */
h1{
	font-size: 2em;
	line-height: 1.3em;
	padding-bottom: .5em;
}
h2{
	font-size: 1.8em;
	line-height: 1.3em;
	padding-bottom: .2em;
}
h3{
	font-size: 1.2em;
	line-height: 1.5em;
	padding-bottom: .4em;
}
h4{
	font-size: 1em;
	line-height: 1.5em;
	padding-bottom: .5em;
}
h5{
	font-size: .8em;
	line-height: 1.8em;
	padding-bottom: 1em;
}
h6{
	font-style: italic;
	font-weight: 300;
	font-size: .7em;
	line-height: 1.8em;
	padding-bottom: 1em;
}