extend ../layout
block scripts
	script(src='/scripts/controllers/thread.js')
	script
		// Hack
		YAY.controllers['newthread'] = YAY.controllers.thread;
block content
	div#main-title
		h2 New thread
	form#comment-form(method='post', style='padding-top:0px;')
		input(type='hidden', name='_csrf', value=token)
		label 
			p Pick a category
			select
				for category in categories
					option(value=category) #{category}
		label
			p Subject
			input(name='subject', length='96', size = '30')
		label
			p Content
			div#post-shortcuts
				ul
					li &middot;
						a#url-shortcut(href='#') URL
					li &middot;
						a#image-shortcut(href='#') Image
			textarea(name='comment', rows='6', cols='60')
			span.info Posts are written in 
				a(href='http://daringfireball.net/projects/markdown/syntax') Markdown
				.
		div
			input(type='submit', value='Post thread!')