extend ../layout
block content
	div#main-title
		h2 Register
	form(method='post')
		input(type='hidden', name='_csrf', value=token)
		label
			p Username
			input(name='username')
		label
			p Email
			input(type='email', name='email')
		label
			p Password
			input(type='password', name='password')
		div
			input(type='submit', value='Welcome in!')